 
  *{
    text-decoration: none;
    font-family:sans-serif;
    /* background: linear-gradient(to top,rgba(0,0,0,5)),url(background.jpg); */
    background-position: center;
  }
  .top-header{
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  li{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    color: white;
    margin: 20px;
  }
  /* div{
    justify-content: flex-end;

  } */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1a1a;
    color: #fff;
}
  h1{
    color: beige;
  }
  a{
    color: white;
  }
.content{
    color: white;
}
.search-button input {
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
}
.search-button button{
    padding: 5px 10px;
    background-color: #ff0000;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;

}
.content {
    text-align: center;
    padding: 100px 20px;
}
.buttons {
    margin-top: 30px;
}
.btn-login {
    background-color: #ff0000;
    color: #fff;
}
.btn-signup {
    background-color: #00ff00;
    color: #fff;
}


footer {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h1 {
    font-size: 36px;
    margin-bottom: 30px;
}
.btn {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.product {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
.product h2 {
    color: #ff0000;
    margin-top: 0;
}
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

